.icon-lg {
    width: 1.5em;
    height: 1.5em;
}

.sidebar .active{
    color: #0064c8 !important;
    background-color: #e6f0fa;
    position: relative;
    font-weight: 700;
    border-left: 5px solid #0064c8;
}

.nav-link{
    font-size: 0.9em;
    color: #000;
}

.nav-item{
    cursor:pointer;
}