.addlocation {
    color: #fff;
    background-color: #0064c8;
    border-color: #0064c8;
    float: right;
}

.row {
    margin: 0;
}

.searchInput {
    height: 30px;
    padding: 0px 5px;
}

.filters{
    background-color:#236192;
    color:#fff;
    padding: 5px 0px;
}

.h-30{
    height:30px;
}

.ngx-datatable.material {
    background: #fff;
    box-shadow: none;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
    font-size: 15px;
    font-weight: normal;
}

datatable-row-wrapper.datatable-row-wrapper {
    border-bottom: 1px solid rgb(127, 127, 127);
}

datatable-row-wrapper.datatable-row-wrapper:nth-child(even) {
    background: rgba(242, 242, 242, 1)
}

datatable-row-wrapper.datatable-row-wrapper:nth-child(odd) {
    background: #FFF
}

datatable-footer.datatable-footer {
    display: none !important;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

.datafield {
    color: #0064c8;
    cursor: pointer;
    font-weight: 500;
}

.datafield:hover {
    text-decoration: underline;
}

.pd-0 {
    padding: 0;
}

.mt-10{
margin-top: 10px;
}


.datatable-body.datatable-body{
    height: 400px !important;
    overflow-y: auto;
}
