/* You can add global styles to this file, and also import other style files */

html,body { margin: 0px !important; height: 100%; }

* { 
    margin: 0; 
    padding: 0; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    font-family: 'ArialMT', 'Arial', sans-serif;
}