
.location {
    padding: 6% 7%;
    font-family: 'ArialMT', 'Arial', sans-serif;
}

.row {
    margin: 0;
}

.btn {
    border-radius: 0;
}

.header {
    font-size: 40px;
}

.searchInput {
    height: 40px;
    margin-right: 12px;
    width: 50%;
    padding: 0px 5px;
}

.addname {
    height: 40px;
    margin-right: 12px;
    width: 100%;
    padding: 0px 5px;
}

.addlocation {
    color: #fff;
    background-color: #0064c8;
    border-color: #0064c8;
    float: right;
    float: right;
}

.mt-10 {
    margin-top: 10px;
}

.paginator {
    margin-top: 5px;
}

.ngx-datatable.material {
    background: #fff;
    box-shadow: none;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    background-color: #343a40;
    border-color: #454d55;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
}

datatable-row-wrapper.datatable-row-wrapper {
    border-bottom: 1px solid rgb(127, 127, 127);
}

datatable-row-wrapper.datatable-row-wrapper:nth-child(even) {
    background: rgba(242, 242, 242, 1)
}

datatable-row-wrapper.datatable-row-wrapper:nth-child(odd) {
    background: #FFF
}

datatable-footer.datatable-footer {
    display: none !important;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

.datafield {
    color: #0064c8;
    cursor: pointer;
    font-weight: 500;
}

.datafield:hover {
    text-decoration: underline;
}

.pd-0 {
    padding: 0;
}

.ml-30 {
    margin-left: 30px;
}

.modal {
    top: 100px;
}

.cr-p{
    cursor: pointer;
}

.modal-header .close{
    outline: none;
}

svg.icon.delete-icon {
    color: #0064c8 !important   ;
}